footer {
    background-image: url('../img/footer-bg.jpg');
    position: relative;

    .img_footer {
        position: absolute;
        top: 0;
        left: 65%;
        height: 90%;
    }

    h3 {
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
    }

    p {
        color: white;
        width: 60%;
    }

    .social_icons {
        margin: 5px;
    }
}